.masterPlayer .playPuaseButton{
    background: #CCC;
    padding: 0.5em;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0.5em;
}

.masterPlayer{
    margin: 2em;
}

.playPuaseButton{
    background: #CCC;
    padding: 0.1em;
    border-radius: 5px;
    cursor: pointer;
}

.volume{
    width: 30vw;
    border: solid #000 2px;
    cursor: pointer;
    position: relative;
    background: transparent;
}

.volume .volumeBar{
    background: skyblue;
    position: absolute;
    top: 0em;
    left: 0em;
    height: 100%;
    width: 100%;
}

.fave{
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    color: #000;
    cursor: pointer;
}

.fave.isFave{
    color: red;
}

.coverImage{
    width: 10em;
    height: 10em;
}