.masterPlayer .playPuaseButton{
    background: #CCC;
    padding: 0.5em;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0.5em;
}

.masterPlayer{
    position: fixed;
    lefet: 0em;
    bottom: 0em;
    background: skyblue;
    width: 100vw;
    padding: 1.1em;
}

.playPuaseButton{
    background: #CCC;
    padding: 0.1em;
    border-radius: 5px;
    cursor: pointer;
}

.volume{
    width: 30vw;
    position: relative;
    float: right;
}

.volume .volumeBar{
    background: skyblue;
    position: absolute;
    top: 0em;
    left: 0em;
    height: 100%;
    width: 100%;
}

.fave{
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    color: #000;
    cursor: pointer;
}

.fave.isFave{
    color: red;
}

.coverImage{
    width: 30em;
    height: 30em;
}

.container{
    margin-bottom: 10em;
    text-align: center;
}

.container .title{
    text-align: left;
}

@media (max-width: 415px) {
    .coverImage{
        width: 20em;
        height: 20em;
        display: block;
        position: relative;
        margin: 0 auto;
        z-index: -1;
    }

    .volume{
        display: none;
    }

    .playPuaseButton{
        margin: 0.5em 0em;
    }
}