#userProfilePicture{
    width: 2em;
    border-radius: 50%;
    margin-left: 1em;
}

.notificationButton{
    cursor: pointer;
}

.notificationButton.raining{
    background: skyblue;
    border-radius: 50%;
}

.searchIcon{
    color: #ccc;
    cursor: pointer;
    text-decoration: none;
}