#commentSession{
    margin-bottom: 3em;
}

#input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #161616;
    outline: none;
    width: 50vw;
}

.share{
    width: 10em;
}

.coverImage{
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: -1;
    margin-top: 0.5em;
}

.shareURL.hide{
    display: none;
}