<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HoovesSound | Upload</title>
</head>
<body>
    <%- include('includes/nav')%>
    <div class="container">
        <%if(error){%>
            <div class="error">
                <%=error%>
            </div>
        <%}else{%>
            <div class="error">
            </div>
        <%}%>
        <h1>Upload</h1>
        <form action="/upload" method="post" enctype="multipart/form-data" id="uploadForm">
            <p>Title: <input type="text" name="title" id="title" autocomplete="false"></p>
            <p>Please drag or choose one of your AUDIO file</p>
            <p><input type="file" name="file" id="file"></p>
            <p>Cover Image</p>
            <p>Please drag or choose one of your IMAGE file(Option)</p>
            <p><input type="file" name="image" id="image"></p>
            <progress value="0" max="100" id="progress"></progress>
            <button type="submit">Upload</button>
        </form>
    </div>
    <script>
        var $token = "<%=token%>";
    </script>
    <script src="/static/js/upload.js"></script>
</body>
</html>