#userProfilePicture{
    width: 2em;
    border-radius: 50%;
    margin-left: 1em;
}

.notificationButton{
    cursor: pointer;

    &.raining{
        background: skyblue;
        border-radius: 50%;
    }
}