@media (min-width: 415px) {
    #app{
        width: 25em;
        position: absolute;
        top: 0em;
        left: 0em;
        background: #FFF;
        height: 100vh;

        .error{
            background: #F03861;
            padding: 0em 0em 0.3em 00em;
            .title{
                background: #FF5D6E;
                position: relative;
                width: 100%;
                padding: 0.3em;
            }
            .msg{
                margin-left: 0.3em;
            }
        }

    }
}