<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HoovesSounds | Change Password</title>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>

<div id="app">
    <%if(error){%>
    <div id="messages" class="error">
        <%=message%>
    </div>
    <%}else{%>
    <div id="messages">
        <%=message%>
    </div>
    <%}%>

    <div class="icon"></div>
    <h1>Change Password</h1>
    <%if(!token){%>
    <form id="registerTokenForm" action="" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        <p>Email: <input type="email" class="email" value="" name="email"></p>
        <div class="g-recaptcha" data-sitekey="6LcfXy4UAAAAAKmVgFA2Ol0OR9x_jKXRA1NI46-C"></div>
        <button type="submit" class="btn waves-effect waves-default">Update</button>
    </form>
    <%}else{%>
    <form id="changePasswordForm" action="" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        <p>New Password: <input type="password" class="password" value="" name="password"></p>
        <button type="submit" class="btn waves-effect waves-default">Update</button>
    </form>
    <%}%>
</div>

</body>
</html>