<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HoovesSounds | Login</title>
</head>
<body>
<div id="app">
    <%if(error){%>
    <div id="messages" class="error">
        <p class="title">Error :/</p>
        <p class="msg"><%=message%></p>
    </div>
    <%}else{%>
    <%if(typeof pwdError !== 'undefined'){%>
      <div class="pwdError"><%=pwdError%></div>
    <%}%>
    <div class="icon"></div>
    <h1>Login</h1>
    <form id="loginForm" action="" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        <p><input type="email" class="username" value="" name="email" placeholder="Email Address"></p>
        <p><input type="password" class="password" value="" name="password" placeholder="Password"></p>
        <button type="submit" class="btn waves-effect waves-default" id="loginButton">Login</button>
    </form>

     <!--<a class="loginProvider poniverse" href="/api/oauth1/thirdparty/poniverse">
        <span>Poniverse</span>
        <img src="https://avatars3.githubusercontent.com/u/3528970?v=4&s=400" alt="" class="image">
    </a>

    <a class="loginProvider facebook" href="/api/oauth1/thirdparty/facebook">
        <span>Facebook</span>
        <img src="https://facebookbrand.com/wp-content/themes/fb-branding/prj-fb-branding/assets/images/fb-art.png" alt="" class="image">
    </a>-->

    <a href="/api/auth/register">Register</a><br>
    <a href="/api/auth/changepassword">Forgot Password</a>
    <%}%>
    <%-include('../includes/artwork')%>
</div>
</body>
</html>