<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HoovesSounds | Login</title>
</head>
<body>
<div id="app">
    <%if(error){%>
    <div id="messages" class="error">
        <%}else{%>
        <div id="messages">
            <%}%>
            <%=message%>
        </div>

        <div class="icon"></div>
        <h1>Login</h1>
        <form id="loginForm" action="" method="post" enctype="application/x-www-form-urlencoded">
            <p><input type="text" class="username" value="" name="username" placeholder="Username"></p>
            <p><input type="password" class="password" value="" name="password" placeholder="Password"></p>
            <button type="submit" class="btn waves-effect waves-default" id="loginButton">Login</button>
        </form>
        <a href="/api/auth/register">Register</a><br>
        <a href="/api/auth/changepassword">Forgot Password</a>
</div>
</body>
</html>