<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/permission.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HoovesSounds | Permission</title>
</head>
<body>
<div id="app">

    <%if(error){%>
    <div id="messages" class="error">
        <%}else{%>
        <div id="messages">
            <%}%>
            <%=message%>
        </div>

        
        <div id="userInfo">
            <p>You are login as <%=user.fullName%></p>
            <img src="<%=user.icon%>" alt="User's profile picture" id="userIcon"/>
        </div>

        <form id="loginForm" action="/permission?<%-rawQuery%>" method="post" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <input type="hidden" name="uid" value="<%=uid%>">
            <%if(typeof appName !== 'undefined'){%>
            <h2><span class="appName"><%=appName%></span> wants the following permission</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    Seeing your basic information, like email address and display name
                </li>
                <%if(scope.length >= 1){%>
                <%scope.forEach(object => {%>
                <li class="list-group-item">
                    <%=object.description%>
                </li>
                <%})%>
                <%}%>
            </ul>
            <%}%>
            <button class="btn btn-success" type="submit" name="allow" value="allow">Allow</button>
            <button class="btn btn-danger" type="submit" name="denied" value="denied">Denied</button>
            
            <%-include('../includes/artwork')%>
        </form>
    </div>
</body>
</html>