<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/register.css">
    <title>HoovesSounds | Register</title>
</head>
<body>

    <div id="app">
        <div id="bg"></div>
        <%if(error){%>
            <div id="messages" class="error">
        <%}else{%>
            <div id="messages">
        <%}%>
            <%=message%>
        </div>
        <div class="icon"></div>
        <h1>Register</h1>
        <form id="loginForm"  method="post" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <p>Username: <input type="text" class="username" value="" name="username"></p>
            <p>Password: <input type="password" class="password" value="" name="password" onkeydown="checkPassword()"></p>
            <div id="pwdError"></div>
            <p>Email: <input type="email" class="email" value="" name="email"></p>
            <p>Full Name: <input type="text" class="fullname" value="" name="fullname"></p>
            <button type="submit" class="btn waves-effect waves-default">Register</button>
        </form>
        <script src="/register.js"></script>
        <%-include('../includes/artwork')%>

        <script>
            var policy = [
                {
                    query: new RegExp(/[A-Z]/g),
                    msg: 'At less one uppercase latter',
                },
                {
                    query: new RegExp(/[a-z]/g),
                    msg: 'At less one lowercase latter',
                },
                {
                    query: new RegExp(/.{8,}/g),
                    msg: 'At less have 8 characters',
                }
            ]
            var pwdError = document.querySelector('#pwdError');
            var password = document.querySelector('.password');
            function checkPassword(){
                for(let key in policy){
                    if(!password.value.match(policy[key].query)){
                        pwdError.innerHTML = policy[key].msg;
                    }else{
                        pwdError.innerHTML = '';
                    }
                }
            }

            document.querySelector('.username').focus();
        </script>

    </div>
</body>
</html>