<link rel="stylesheet" href="/static/css/nav.css">
<nav class="navbar navbar-default" ng-controller="search">
    <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">HoovesSound</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/home">Home <span class="sr-only"></span></a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/me/fave">Fave <span class="sr-only"></span></a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search" method="post" action="/search" id="searchForm">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="query">
                    <button type="submit" class="btn btn-default">search</button>
                </div>
            </form>


            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img src="<%=loginUser.icon%>" alt="" id="userProfilePicture">
                        <span class="username"><%=loginUser.fullName%></span>
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="/me">Profile</a></li>
                        <li><a href="/settings">Settings</a></li>
                        <li><a href="/me/apps">My Apps</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/notification/" class="notificationButton material-icons">notifications</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/upload">Upload</a></li>
            </ul>
        </div>
    </div>
    <script src="/static/js/search.js"></script>
</nav>