<%if(tracks.length <= 0){%>
    <h1 id="notracks">Didn't have any tracks yet</h1>
<%}else{%>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <script src="/static/js/track.js"></script> -->
    <%tracks.forEach(track => {%>
        <div class="track" id="<%=track._id%>">
            .
        </div>
    <%});%>
<%}%>